<!-- 
This one should not be too bad. Just make sure you are showing
all the information specified in the README.
-->
<h1>{{person.name}}</h1>
<h3>{{description}}</h3>
<p><b>Party: </b> <a href="/party/{{party}}">{{party}}</a></p>
<p><b>State: </b> <a href="/state/{{fullState}}">{{state}}</a></p>
<p><b>Birthday: {{person.birthday}}</b></p>
<p><a href="{{website}}">Website</a></p>
